@font-face {
  font-family: "norsebold";
  src: url("norse-bold-webfont.woff2") format("woff2"),
    url("norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: whitesmoke;
  height: 1000px;
}
.green-leaf {
  width: 37%;
  height: 100%;
  object-fit: cover;
}

.odin-outline {
  position: absolute;
  height: 10%;
  left: 11%;
  top: 21%;
}

h2 {
  font-family: "norsebold", Courier, monospace;
  position: absolute;
  display: inline;
  left: 16.5%;
  top: 22%;
  font-size: 5rem;
  color: whitesmoke;
}

.odin-position-span {
  position: relative;
}

.transparent-bar {
  position: absolute;
  height: 12%;
  width: 37%;
  left: 0%;
  top: 20%;
  background: rgba(11, 12, 11, 0.6);
}
.photo-credit {
  position: absolute;
  left: 10%;
  top: 95%;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.photo-credit a:link {
  color: rgb(158, 158, 158);
}
.photo-credit a:visited {
  color: rgb(199, 199, 199);
}
.photo-credit a:hover {
  color: rgb(124, 118, 121);
}
.first-para {
  position: absolute;
  left: 40%;
  top: 15%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  width: 52%;
}

.get-started-para {
  position: absolute;
  left: 40%;
  top: 22%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  width: 52%;
}

.know-what-to-do {
  position: absolute;
  left: 40%;
  top: 29%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  width: 52%;
}

.form-background {
  position: absolute;
  width: 62.9%;
  height: 30%;
  left: 37.1%;
  background-color: rgb(255, 255, 255);
  top: 35%;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.2);
}

.lets-do-this {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
  position: absolute;
  left: 5%;
  top: 6%;
}

.form-left {
  position: absolute;
  left: 5%;
  top: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

.form-left label {
  font-size: 1rem;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1.5px;
}

.form-left input {
  margin-bottom: 30px;
  width: 132%;
  height: 1.7rem;
  border-radius: 5px;
  border: 1px solid rgb(197, 195, 195);
}
.form-right {
  position: absolute;
  left: 40%;
  top: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 400px;
}

.form-right label {
  font-size: 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2.5px;
}

.form-right input {
  margin-bottom: 30px;
  width: 60%;
  height: 1.7rem;
  border-radius: 5px;
  border: 1px solid rgb(197, 195, 195);
}

.create-account {
  position: absolute;
  top: 110%;
  left: 5%;
  background: #596d48;
  color: white;
  width: 200px;
  height: 45px;
  font: bold15px arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
  border: #596d48;
  cursor: pointer;
}

.log-in {
  position: absolute;
  left: 40%;
  top: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.log-in a:link {
  color: #596d48;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.log-in a:visited {
  color: #39462e;
  font-family: Arial, Helvetica, sans-serif;
}
.log-in a:hover {
  color: #596d48;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 0 3px 10px rgba(73, 92, 255, 0.7);
  outline: none !important;
}

input:invalid {
  border-color: red;
}

/* input:valid {
  border-color: green;
} */
